<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>OnTheMap.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>D056A0E71C0BD77A00A9CB53</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D056A0FB1C0BD77B00A9CB53</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D056A1061C0BD77B00A9CB53</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
